# Ignore Python-related files and folders
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folder
venv/

# Ignore all sensitive environment files, anywhere in the project
.env
.env.*
**/.env
**/.env.*

# Ignore system files
.DS_Store